.headercontainer {
  background: url('../../assets/bgGif.gif');
  /* Background color for the header container */
  padding: 10px;
  /* Add some padding for spacing */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow */
  background-size: cover;

}

.notif-title {
  padding-left: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.block {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}


ion-content {
  padding: 20px;
  background-color: #ecf0f1;
  animation: fade-in 1s ease-in-out;
}

.ionicon {
  margin-right: 10px;
}

ion-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  padding: 10px;
}


ion-item[slot='header'] {
  background-color: #000000;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

ion-label {
  display: block;
  margin-bottom: 5px;
}

ion-accordion-group {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ion-padding {
  padding: 10px;
  border-top: 1px solid #dcdcdc;
}

ion-label {
  font-size: 16px;
}

ion-label:nth-child(2) {
  font-size: 14px;
  color: #7f8c8d;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}