<ion-header>
  <ion-toolbar style="text-align: center">
    <div class="headercontainer">
      <ion-title>Channel List</ion-title>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100px"
        height="100px"
        class="ionicon"
        viewBox="0 0 512 512"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M201.14 64L256 32l54.86 32"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M256 32v80"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M310.86 448L256 480l-54.86-32"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M256 480v-80"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M64 207.51V144l53.15-31.51"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M64 144l67.29 40"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M448 304.49V368l-53.15 31.51"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M448 368l-67.29-40"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M117.15 400L64 368v-63.51"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M64 368l66.64-40"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M394.85 112.49L448 144v63.51"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M448 144l-67.29 40M256 320v-64l54.86-32M256 256l-54.86-32"
        />
      </svg>
      <ion-title>{{ md }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let channel of mergedNotifications">
    <ion-item-divider
      style="
        background-color: rgb(46, 172, 170);
        color: black;
        font-size: larger;
        font-weight: 600px;
      "
    >
      {{ channel.title }}
    </ion-item-divider>

    <ion-item
      *ngFor="let message of channel.messages"
      (click)="openModal(message, channel.title)"
    >
      <ion-badge *ngIf="!message.read" color="success" slot="start"
        >New</ion-badge
      >
      <ion-title class="notif-title">{{ message.title }}</ion-title>
      <ion-label slot="end" style="font-size: 10px">
        {{ message.createdAt | date }} {{ message.createdAt | date : "h:mm a" }}
      </ion-label>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <img src="../../assets/notifGif.gif" alt="" />
  </div>
  <ion-modal
    #modal
    trigger="open-modal"
    (willDismiss)="onWillDismiss($event)"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 1]"
    handleBehavior="cycle"
    id="open-modal"
  >
    <ng-template class="block">
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-button (click)="cancel()"
              ><ion-icon name="arrow-undo-outline" size="large"></ion-icon
            ></ion-button>
          </ion-buttons>
          <ion-title style="text-align: center">{{ msg.title }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label>{{ msg.channel }}</ion-label>
        </ion-item>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{
              msg.createdAt | date : "MMM d, yyyy"
            }}</ion-card-subtitle>
            <ion-card-title>{{ msg.title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>{{ msg.body }}</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
