/*.about-us-content {
    background-color: linear-gradient(270deg, #00b486, #006db4);
    padding: 20px;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out;

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
        color: #ffffff;
    }

    h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ffffff;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 15px;
        color: #f1f1f1;
    }

    ul {
        margin-left: 20px;
        list-style-type: disc;
        color: #005a73;

        li {
            margin-bottom: 5px;
        }
    }
}

ion-toolbar {
    border: 0px;
}



*/

/* Set a background color for the content area */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
ion-content {}
  
  /* Style the container for the content */
  .about-us-content {
    background-color: linear-gradient(270deg, #00b486, #006db4);
    padding: 20px;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out;
  }
  
  /* Style the headings */
  h2, h3 {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
  }
  
  /* Style the paragraphs */
  p {
    color: #2b2b2b;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 500;
  }
  
  /* Style the strong tags */
  strong {
    color: #151d25;
  }
  
  /* Style the list items */
  ul {
    list-style-type: disc;
    margin-left: 20px;
    font-weight: 500;
    color: #3b3b3b;
  }
  
  /* Add some spacing between list items */
  li {
    margin-bottom: 5px;
  }
  
  /* Add a bit of spacing for paragraphs inside list items */
  li p {
    margin-top: 5px;
  }
  
  /* Add a bit of spacing for the last paragraph inside list items */
  li p:last-child {
    margin-bottom: 0;
  }
  