.about-us-content {
    background-color: linear-gradient(270deg, #00b486, #006db4);
    padding: 20px;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out;

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
        color: #ffffff;
    }

    h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ffffff;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 15px;
        color: #f1f1f1;
    }

    ul {
        margin-left: 20px;
        list-style-type: disc;
        color: #005a73;

        li {
            margin-bottom: 5px;
        }
    }
}

ion-toolbar {
    border: 0px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}