<ion-header>
  <ion-toolbar >
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-us-content">
    <h2>Welcome to the Draexlmaier Notification Filtering App</h2>
    <p>We are dedicated to revolutionizing how you manage notifications in the dynamic environment of Draexlmaier Group.</p>
    <h3>Our Vision</h3>
    <p>Our vision is to create a harmonious balance between staying informed and avoiding information overload.</p>
    <p>We empower employees to take control of their notifications, enabling them to focus on what matters.</p>
    <h3>What Sets Us Apart</h3>
    <ul>
      <li><strong>Tailored Filtering:</strong> Customize notifications based on role and preferences.</li>
      <li><strong>Unified Platform:</strong> Centralized hub for viewing and prioritizing messages.</li>
      <li><strong>Intuitive Interface:</strong> User-friendly navigation and settings management.</li>
      <li><strong>Real-time Updates:</strong> Timely information for informed decisions.</li>
    </ul>
    <h3>Our Commitment to Security</h3>
    <p>Your data security is our priority. We employ encryption protocols to safeguard sensitive information.</p>
    <h3>Join Us on This Journey</h3>
    <p>Embrace a new era of efficient communication and productivity with Draexlmaier.</p>
    <p>If you have questions or want to learn more, reach out to our support team.</p>
  </div>
</ion-content>
