<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-menu-button autoHide="false" id="main-content">
          </ion-menu-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title style="text-align: center">Application</ion-title>
      <ion-buttons slot="end">
        <ion-button> <ion-icon name="notifications"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          src="https://scontent.ftun18-1.fna.fbcdn.net/v/t39.30808-6/345613010_266868399154190_5307718228776610608_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=IL-e8NAWdUMAX96Z2lt&_nc_ht=scontent.ftun18-1.fna&oh=00_AfDAJyGIAR5WDqTNJ14R9c3W_f8ymdEob-mbaLBmPCynJQ&oe=64E0C87D"
        />
      </ion-avatar>
      <ion-label>
        <h3>Hello Rayan!</h3>
        <p>rayenbrigui92@outlook.fr</p>
      </ion-label>
    </ion-item>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-menu [type]="menuType" content-id="main-content">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>First Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-menu>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about">
          <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
  <ion-footer hidden> </ion-footer>
</ion-app>
