<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-toggle>   <ion-menu-button > </ion-menu-button> </ion-menu-toggle>
      </ion-buttons>
      <ion-title style="text-align: center">Applications</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="padding-top">
    <ion-menu [type]="menuType" content-id="main-content">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>First Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-menu>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
