.menuWrpper {
    --background: rgb(0, 0, 0);
}

#notificationButton {
    position: relative;

}

#notificationBadge {
    position: absolute;
    top: -3px;
    right: -5px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
}