<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-menu-button autoHide="false" id="main-content">
          </ion-menu-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title style="padding: 5px; text-align: center"
        ><img src="../assets/icon/favicon.png" alt="" height="50px"
      /></ion-title>
      <ion-buttons slot="end">
        <ion-button> <ion-icon name="notifications"></ion-icon></ion-button>
      </ion-buttons>
      
    </ion-toolbar>
    
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          src="https://cdn.discordapp.com/attachments/969646135717290015/1142833487687196772/Latin_American_with_elegant_clothe_16c67824-1100-4795-8cb2-5aaaac5ab0ca.png"
        />
      </ion-avatar>
      <ion-label>
        <h3>Hello Rayan!</h3>
        <p>rayenbrigui92@outlook.fr</p>
      </ion-label>
    </ion-item>
    
  </ion-header>

  <ion-content class="ion-padding">
    <ion-menu [type]="menuType" content-id="main-content" class="menuWrpper">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>First Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-menu>
    
    <ion-router-outlet></ion-router-outlet>
    
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about">
          <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
  <ion-footer hidden> </ion-footer>
</ion-app>
