.app-cards-content {
    padding: 20px;
}


.app-card {
    //background-color: #2c3e50;
    color: #ecf0f1;
    width: auto;

    background: url("https://thumbs.gfycat.com/CorruptLinearElk-size_restricted.gif");
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    ion-card-header {
        ion-card-title {
            font-size: 24px;
            color: #ffffff;
            margin-bottom: 5px;
            font-weight: 600;
            text-align: center;
        }
    }

    ion-card-content {
        p {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.logo-apple-ar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

swiper-container {
    background-color: hsl(171, 100%, 80%);
    height: 250px;
    border-radius: 0px 0px 20px 20px;
}